@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

.calendarHeader,
.calendarBody, 
.calendarFooter,
.calendarContainer td {  
    font-family: "Montserrat", sans-serif;
}

.calendarContainer h1 {
    font-weight: 600;
    font-size: 25px;
}

.calendarContainer h3 {
    font-weight: 100;
    font-size: 15px;
}

.calendarFooter {
    width: 785px;
}

.calendarKeyboard,
.calendarClear {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.calendarKeyboard {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    float: left;
    margin-left: 13px;
    height: 44px;
}

.calendarClear {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    float: right;
    font-size: 12pt;
}

.calendarKeyboard:hover,
.calendarClear:hover {
    background-color: #f7f7f7;
    border: none;
    box-shadow: 0 0 0px 10px #f7f7f7;
}

.calendarClear:hover {
    border-radius: 2px;
}

.calendarKeyboard:hover {
    border-radius: 50%;
}