@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

.monthHeader th {
    margin: 10px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
}

.monthBody td {
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 32px;
}

.available,
.notAvailable,
.minDays {
    border: 1px solid transparent;
}

.daysBetween {
    background-color: #f7f7f7;
    border-radius: 50%;
}

.available button,
.notAvailable button,
.minDays button,
.daysBetween button {
    font-family: "Montserrat", sans-serif;
    background: none !important;
    border: none !important;
    outline: none;
    font-size: 16px;
}

.available button,
.available:hover {
    cursor: pointer;
}

.available:hover {
    border: 1px solid black;
    border-radius: 50%;
}

.notAvailable button {
    text-decoration: line-through;
}

.checkIn,
.checkOut,
.checkIn button,
.checkOut button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

.checkIn button,
.checkOut button {
    border: none !important;
    outline: none !important;
    color: white;
}
