.monthHeaderLeft,
.monthHeaderRight {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.monthHeaderRight {
    padding-left: 25px;
}

.monthHeaderLeft button,
.monthHeaderRight button {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    outline: none;
}

.monthHeaderLeft button {
    margin-left: 22px;
}

.monthHeaderRight button {
    padding-right: 50px;
}

.monthHeaderLeft span {
    margin-right: 100px;
}

.monthHeaderRight span {
    margin-left: 100px;
}

.monthBody td {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.available,
.notAvailable {
    border: 1px solid transparent;
}

.available button,
.notAvailable button {
    font-family: "Montserrat", sans-serif;
    background: none !important;
    border: none !important;
    font-size: 16px;
}

.available button,
.available:hover {
    cursor: pointer;
}

.available:hover {
    border: 1px solid black;
    border-radius: 50%;
}

.notAvailable button {
    text-decoration: line-through;
}

.checkIn,
.checkOut,
.checkIn button,
.checkOut button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

.checkIn button,
.checkOut button {
    border: none !important;
    outline: none !important;
    color: white;
}
