@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

.calendarMonthHeader th {
    margin: 10px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
}

.calendarMonthBody td {
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 32px;
}

.calendarMonthAvailable,
.calendarMonthUnavailable,
.calendarMonthMinDays {
    border: 1px solid transparent;
}

.daysBetween {
    background-color: #f7f7f7;
    border-radius: 50%;
}

.calendarMonthAvailable button,
.calendarMonthUnavailable button,
.calendarMonthMinDays button,
.daysBetween button {
    font-family: "Montserrat", sans-serif;
    background: none !important;
    border: none !important;
    outline: none;
    font-size: 16px;
}

.calendarMonthAvailable button,
.calendarMonthAvailable:hover {
    cursor: pointer;
}

.calendarMonthAvailable:hover {
    border: 1px solid black;
    border-radius: 50%;
}

.calendarMonthUnavailable button {
    text-decoration: line-through;
}

.calendarMonthCheckIn,
.calendarMonthCheckOut,
.calendarMonthCheckIn button,
.calendarMonthCheckOut button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

.calendarMonthCheckIn button,
.calendarMonthCheckOut button {
    border: none !important;
    outline: none !important;
    color: white;
}
