.calendarBody {
    display: flex;
    width: 796px;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
}

.calendarBody div {
    margin-right: 10px;
}

.calendarBodyScrollLeft, 
.calendarBodyScrollRight {
    outline: none;
    border: none;
    background: none;
    height: 10px;
    position: absolute;
    font-size: 16pt;
    height: 25px;
}

.calendarBodyScrollLeft:hover:enabled, 
.calendarBodyScrollRight:hover:enabled {
    background-color: #f7f7f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0px 10px #f7f7f7;
    cursor: pointer;
}

.calendarBody .calendarBodyScrollLeft {
    top: 10px;
    left: 13px;
}

.calendarBody .calendarBodyScrollRight {  
    top: 6px;
    right: 20px;
}
