.container {
    font-family: "Montserrat", sans-serif;
    border: 0.5px solid #dddddd;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px #e2e2e2;
}

.container table,
.container td {
    border-collapse: collapse;
}

h1 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

.header,
.ratePerNight,
.reviews {
    display: flex;
}

.header {
    justify-content: space-between;
}

.ratePerNight {
    padding-top: 10px;
}

.rate,
.night {
    margin: 3px;
}

.rate h1 {
    font-size: 18pt;
    padding-left: 25px;
}

.night {
    padding-top: 10px;
}

.reviews {
    padding-right: 25px;
    padding-top: 20px;
}

.reviews span {
    margin: 3px;
}

.reviews h1 {
    display: inline-block;
    font-size: 11pt;
    padding-top: 4px;
}

.reviews h3 {
    display: inline-block;
    font-size: 10pt;
    font-weight: 100;
}

.icon {
    display: inline-block;
    color: red;
    padding-top: 16px;
}

.formWrapper {
    margin: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.formInput,
.guestSelect {
    padding: 3px;
    border: 2px solid #a7a7a7;
    border-radius: 5px;
    border-collapse: collapse;
}

.formInput {
    display: inline-block
}

input {
    outline: none;
    border: none;
    display: block;
    line-height: 2em;
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
}

label {
    display: block;
    font-weight: 600;
    font-size: 10px;
    padding-left: 2px;
    padding-top: 5px;
}

.checkInOut {
    width: 160px;
}

.guestSelect {
    width: 338px;
    display: flex;
    justify-content: space-between;
}

.arrowDown {
    padding-right: 10px;
    padding-top: 10px;
    font-size: 16pt;
    cursor: pointer;
}

.btn {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
}

.reserve {
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
    font-weight: 600;
    background: linear-gradient(0.25turn, #e32352, #d61367);
    color: white;
    height: 50px;
    width: 100%;
    padding-right: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
