.container {
    font-family: "Montserrat", sans-serif;
    border: 0.5px solid #dddddd;
    background-color: white;
    width: 35%;
    box-shadow: 0 0 10px #e2e2e2;
}

h1 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

.header,
.ratePerNight,
.reviews {
    display: flex;
}

.reviews {
    padding-right: 35px;
}

.reviews span {
    margin: 5px;
}

.header {
    justify-content: space-between;
}

.rate,
.night {
    margin: 3px;
}

.rate {
    padding-left: 35px;
}

.night {
    padding-top: 2px;
}

.icon {
    color: red;
    padding-top: 17px;
}

